.exhibition {
  display: flex;
  flex-direction: column;
}

.image-gallery {
  text-align: center;
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-gallery-content {
  width: 66vw; /* 66% of the viewport width */
  height: 66vw; /* 66% of the viewport width to maintain a square aspect ratio */
  max-width: 800px;
  max-height: 524px; /* Maximum width for larger screens */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.gallery-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure the image scales to fit the container */
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 10px 0; /* Space between the buttons and the gallery */
  position: relative; /* Relative position to avoid covering the gallery */
}

.nav-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.nav-button.left {
  margin-right: auto;
}

.nav-button.right {
  margin-left: auto;
}

.counter {
  font-size: 16px;
  color: #333;
  margin: 0 10px;
}
